*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(28, 13, 13, 0.1);
    text-align: center;
}

.calculator h1 {
    margin-bottom: 20px;
    color: rgb(143, 16, 16);
    text-decoration: underline;
}
.calculator input {
    width: 90%;
    height: 4rem;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 20px;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    width: 20%;
    height: 3.2rem;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 10%;
    font-size: 25px;
    cursor: pointer;
    background-color: #be9595;

    transition: all 0.5s ease-in-out;
}

.buttons button:hover {
    background-color: #c13e3e;
    color: white;
    transform: scale(1.1);
}
